* {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-hgap: 7;
    -fx-vgap: 3;
    -fx-grid-lines-visible: false;
    -fx-alignment: center;
}

.label-parameter, .username, .city-name{
    -fx-font-weight: bold;
}

.weather-icon{
}

.button, .day-date{
    -fx-background-color:
            rgba(0,0,0,0.08),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

.button:pressed{
    -fx-background-color:
            rgba(0,0,0,0.10),
            linear-gradient(#9a9a9a, #909090),
            linear-gradient(#a7a7a7 0%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

.title{
    -fx-font-weight: bold;
    -fx-font-size: 24;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;

}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: grey;
    -fx-background-radius: 5em;
}

.scroll-bar:vertical {
    -fx-pref-width: 16.5;
    -fx-padding: 3;
}

.scroll-bar:horizontal {
    -fx-pref-height: 16.5;
    -fx-padding: 3;
}